
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
   
    height:100%;
   
    padding:0px;
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.popup {
    margin: auto;
    position: absolute;
    border: 1px solid black;
    background: white;
    height: 80%;
    width: 95%;
    top: 10%;
    padding:2.5%;
    z-index: 2;
    font-size:150%;
}

.mailBody{
    position: relative;
    padding-right:5%;
    padding-left:5%;
    height:79%;
    -webkit-overflow-scrolling: touch;
    overflow:scroll;
    font-size:5vw;
}
.to, .from, .subject{
    height:7%;
    font-size:4vw;
}
.scrollingBody{
        height:80%;
    }

.inner {
        height: calc(100% + 1px);
    }
.buttonRow{
    height: 15%;
    width: 100%;
}
.buttonRow div{
	height:100%;
    width: 33%;
    display: inline-block;
}
.buttonRow div img{
    height: 100%;
    margin: 0 auto;
    display: block;
}

#introContainer{
	background: url("../assets/img/emailBG.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
	width:100%;
	height:100%;
    position:absolute;
	z-index:5;
}
canvas{
    position: absolute;
    z-index: 1;
	top:0px;
	left:0px;
}
.dimmer{
    position:fixed;
    width:100%;
    height:100%;
    background-color:black;
    z-index:5;
    opacity:.5;
    pointer-events:all;
    
}
.finalScoreContainer{
    width:100%;
    height:65%;
    display:table;
    font-size:6vw;
    text-align:center;
    
}
.finalScore{
    display:table-cell;
    vertical-align:middle;
    
}
.finalPopup{
    z-index:10;
    width:75%;
    color:white;
    background-color:darkgray;
    height:30%;
    margin:auto;
    position:absolute;
    left:12.5%;
    top:35%;
}
canvas{
    position:absolute;
    top:0;
    left:0;
    
}
.gameOver{
    text-align: center;
    font-size: 7vw;
    background-color:gray;
    font-weight:bold;
}
.restart{
    
    width: 47%;
    position: absolute;
    left: 2%;
    bottom:2%;
    height: 20%;
    background-color: #3EFF3E;
    box-shadow: 0px 1px 1px rgba(000,000,000,0.5), inset 1px 2px 0px rgba(255,255,255,0.4);
    border: 1px solid #965F06;
    border-radius: 28px;
    height: 13%;
    font-size: 3.2vh;
    margin-bottom: 4%;
    
}
.mainMenu{
    width: 47%;
    position: absolute;
    right: 2%;
    bottom:2%;
    height: 20%;
    background-color: #FFBA3A;
    box-shadow: 0px 1px 1px rgba(000,000,000,0.5), inset 1px 2px 0px rgba(255,255,255,0.4);
    border: 1px solid #965F06;
    border-radius: 28px;
    height: 13%;
    font-size: 3.2vh;
    margin-bottom: 4%;
    
}

body{
	background: url("../assets/img/emailBGDark.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.play{
    width: 75%;
    position: absolute;
    left: 12.5%;
    bottom: 12%;
    background-color: #3EFF3E;
    box-shadow: 0px 1px 1px rgba(000,000,000,0.5), inset 1px 2px 0px rgba(255,255,255,0.4);
    border: 1px solid #965F06;
    border-radius: 28px;
    height: 8%;
    font-size: 31pt;
}
.instructionHeader{
    
    
    position: relative;
    top: 5%;
    color: white;
    font-size: 7vw;
    width: 100%;
    margin: auto;
    text-align: center;
    white-space: normal;
}
.instruction{
    font-size:5vw;
    white-space:normal;
    width:60%;
    color:white;
    padding-top:5.5%;
    padding-bottom:5.5%;

}
.instructionContainer{
    position: relative;
    width: 100%;
	top:5%;
    

}
html,body{
    width:100%;
    height:100%;
    margin:0px;
    -webkit-text-size-adjust: none;
	
}
.back{
    width: 70%;
    position: absolute;
    left: 15%;
    bottom: 1%;
    height: 20%;
    background-color: #FFBA3A;
    box-shadow: 0px 1px 1px rgba(000,000,000,0.5), inset 1px 2px 0px rgba(255,255,255,0.4);
    border: 1px solid #965F06;
    border-radius: 28px;
    height: 8%;
    font-size: 24pt;
    margin-bottom: 4%;
    
}
center {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    
}
.header{
    position: relative;
    top: 3%;
    font-size: 50pt;
    width:100%;
	height:20%:
}
