html,body{
    width:100%;
    height:100%;
    margin:0px;
    white-space:nowrap;
    -webkit-text-size-adjust: none;
    background-color: #c9a54f;
    
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    
}
@keyframes pulseText{
from {
	
	font-size:5vw;

}
to {
	font-size:7vw;
	
}

}
@-moz-keyframes pulseText{
from {
	
	font-size:5vw;

}
to {
	font-size:7vw;

}
@-o-keyframes pulseText{
from {
	
	font-size:5vw;

}
to {
	font-size:7vw;

}
@-webkit-keyframes pulseText{
from {
	
	font-size:5vw;

}
to {
	font-size:7vw;

}
.tapAnywhere{
	position:absolute;
	z-index:2;
	color: #6DCEF5;
	margin:auto;
	
	font-family:sans-serif;
	width:100%;
	text-align:center;
	top: 83%;
	font-size:7vw;
	font-weight:bold;
	-webkit-animation: pulseText .75s infinite alternate;
	-moz-animation: pulseText .75s infinite alternate;
	-o-animation: pulseText .75s infinite alternate;
	animation: pulseText .75s infinite alternate;
	display:none;
	
	

}


.header{
    position: relative;
    top: 15%;
    font-size: 50pt;
    
}
center {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    
}
.popup   span{  
    width: 100%;
    display: table-cell;
    vertical-align: middle;
}
.popup{
height:200px;
width:75%;
position: absolute;
top:0;
bottom: 0;
left: 0;
right: 0;
display:table;
margin: auto;


}
.popupHeader{
background-color: gray;
text-align:center;
height:50px;
display:table-row;
    font-size: 6vw;
color:white;
font-weight: bold;

}
.popupBody{
background-color: darkgray;
text-align:center;
height:150px;
display:table-row;
font-size:10vw;
color:white;
font-weight: bold;

}
