html,body{
	width:100%;
	height:100%;
	margin:0px;
	white-space:nowrap;
	-webkit-text-size-adjust: none; 
}
.header{
	width:50%;
	height:6%;
	display: inline-block;
}
.header center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);

}
.secondHeader {
	border-left: 2px solid black;

}
.scroll-holder{
	width:100%;
	height:94%;
	background-color:#6DCEF5;
	-webkit-overflow-scrolling: touch;
	overflow:scroll;
}
.imageContainer{
width:100%;

}
.imageContainer img{
	background-color:lightgray;

}
.gameCard{
	display: inline-block;
	background-color: black;
	position: relative;
	box-shadow: 10px 10px 5px rgba(0,0,0,.25);
}

.gameCard img {
	width: 100%;
    height: 85%;
	display:block;
}

.gameCard img:last-child {
	width: 100%;
    height: 15%;    
    background-color: black;
	display:block;
	
}